---
layout: default
---

{% include hero_area.html %}
{% include slogan.html %}
{% include ad_video.html %}
{% include success_story.html %}
{% include stat.html %}
{% comment %}
    {% include about.html %}
{% endcomment %}
{% include subject_system.html %}
{% include book.html %}
{% include portfolios.html %}

{% comment %}
    {% include call_to_action.html %}
{% endcomment %}


{% comment %}
    {% include video.html %}
{% endcomment %}

{% comment %}
    {% include blog.html %}
{% endcomment %}