<!--======  ABOUT-US PART START ======-->
<section class="about-us-area" id="About">
    <div class="container">
        <div class="row">
            <div class="about-us-img">
                <img src="{{relative_url}}/assets/images/about-us/1.png" alt="" class="about-img-1">
                <img src="{{relative_url}}/assets/images/about-us/2.png" alt="" class="about-img-2">
            </div>
            <div class="col-lg-5 offset-lg-7">
                <div class="about-us-content">
                    <div class="section-title about-us-title">
                        <p class="section-para"><span></span>About Us</p>
                        <h1>Most Creative Agency For Your Project</h1>
                    </div>
                    <div class="about-us-text">
                        <span>A</span>
                        <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursuetw pleasure ration counter consequences that ares extremely painful. Nor again is tanyone who loves or pursues or desires to obtain pain</p>
                    </div>
                    <ul class="about-menu">
                        <li><a href="#"><i class="fas fa-check"></i>Web Design</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Web Development</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Graphics Arts</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Product Marketing</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>User Research</a></li>
                    </ul>
                    <a href="#Contact" class="btn about-btn">Contact Us <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  ABOUT-US PART END ======-->