<!--======  TEAM PART START ======-->
<section class="team-area pt-0 pb-30" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-10">
                <div class="section-title team-title">
                    <!-- <p class="section-para"><span></span>책</p> -->
                    <h1>학습 교재</h1>
                </div>
            </div>
        </div>
        <div class="row team-carousel-active">
            {% for book in site.data.book.list %}
                <div class="col-lg-4">
                    <div class="single-team-area">
                        <div class="single-team-img text-center">
                            <img src="{{relative_url}}{{book.image}}" alt="">
                        </div>
                        <div class="single-team-content text-center">
                            <h4>{{book.content}}</h4>
                            <p>{{book.subject}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>
<!--======  TEAM PART END ======-->