<!--======  CTA PART START ======-->
<section class="cta-area cta-bg pt-140 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-title">
                    <span><img src="{{relative_url}}/assets/images/cta-text.png" alt="slider"/></span>
                    <h1>Have Any Creative Project</h1>
                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
                    <a href="#" class="btn cta-btn">meet with us <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  CTA PART END ======-->