<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">JP-EDU<br>
                            교육이 치유가 되는 유일한 기업</p>
                        <h1 class="hero-heading">
                            참포도나무학원
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#" style="font-weight: 900;" data-toggle="modal" data-target="#p1">관리형 입시학원</a></li>
                                <li><a href="#" style="font-weight: 900;">전 과목/단과</a></li>
                                <li><a href="#" style="font-weight: 900;">수능/학교별 내신</a></li>
                            </ul>
                        </div>
                        <a href="/intro/introduction.html" class="btn hero-btn">About US <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->