<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <!-- <div class="single-hero-area hero-bg-4 bg_cover" data-scroll-area="true" style="margin-bottom:-100px;" >
        <div class="container">
            <div class="row" >
                <div class="col-lg-7 hero-gradient-text" >
                    <div class="hero-area-content">
                        <p class="hero-para hero-para-2" style=" color: #393e46;font-weight: bold;">몰입에 최적화된<br>
                        독보적인 시스템</p>
                        <h1 class="hero-heading">
                            <span>참포도나무학원</span><br/><span>반기숙 윈터스쿨</span>
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;" data-toggle="modal" data-target="#p1">1차개강</a></li>
                                <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;">2023.01.02(월)</a></li>
                                <li><a href="#" style="font-weight: 900;"><span>2차 개강</a></span></li>
                                <li><a href="#" style="font-weight: 900;"><span>2021.01.02(월)</a></span></li>
                            </ul>
                        </div>
                        <a href="https://blog.naver.com/champodonamu_edu/222905794068" class="btn hero-btn">바로가기<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="single-hero-area hero-bg-6 bg_cover" data-scroll-area="true"  >
        <div class="container">
            <div class="row" >
                <div class="col-lg-7" >
                    <div class="hero-area-content">
                        <p class="hero-para hero-para-3" style=" color: white;font-weight: bold;">2023 여름방학
                        <h1 class="hero-heading">
                            <span>성적이 오르는</span><br/><span>SUMMER SCHOOL</span>
                        </h1>
                        <a href="https://blog.naver.com/champodonamu_edu/223145802595" class="btn hero-btn">바로가기<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-area hero-bg-5 bg_cover" data-scroll-area="true"  >
        <div class="container">
            <div class="row" >
                <div class="col-lg-7" >
                    <div class="hero-area-content">
                        <p class="hero-para hero-para-3" style=" color: white;font-weight: bold;">2023 신규모집
                        <h1 class="hero-heading">
                            <span>Full 독학재수반</span><br/><span>Half 독학재수반</span>
                        </h1>
                        <a href="https://blog.naver.com/champodonamu_edu/222910250805" class="btn hero-btn">바로가기<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">JP-EDU<br>
                        교육이 치유가 되는 유일한 기업</p>
                        <h1 class="hero-heading">
                        참포도나무학원
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                            <li><a href="#" style="font-weight: 900;" data-toggle="modal" data-target="#p1">관리형 입시학원</a></li>
                            <li><a href="#" style="font-weight: 900;">전 과목/단과</a></li>
                            <li><a href="#" style="font-weight: 900;">수능/학교별 내신</a></li>
                            </ul>
                        </div>
                        <a href="/intro/introduction.html" class="btn hero-btn">About US <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->