<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <!--<div class="single-hero-area hero-bg-7 bg_cover" data-scroll-area="true" style="margin-bottom:-100px;" >-->
    <!--    <div class="container">-->
    <!--        <div class="row" >-->
    <!--            <div class="col-lg-7 hero-gradient-text hero-gradient-text-2" >-->
    <!--                <div class="hero-area-content">-->
    <!--                    <p class="hero-para hero-para-2" style=" color: #393e46;font-weight: bold;">성적이 오르는<br>-->
    <!--                    독보적인 시스템!</p>-->
    <!--                    <h1 class="hero-heading" style="font-family: yg-jalnan;">-->
    <!--                        <span class="mono-color">참포도나무학원</span><br/><span>2024 윈터스쿨</span>-->
    <!--                    </h1>-->
    <!--                    <div class="hero-area-menu">-->
    <!--                        <ul>-->
    <!--                            <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;" data-toggle="modal" data-target="#p1">모집대상</a></li>-->
    <!--                            <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;">2024년 고1, 고2, 고3</a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->
    <!--                    <a href="https://m.blog.naver.com/champodonamu_edu/223230636938" class="btn hero-btn"  style="padding:20px 35px;background-color: #538AC4;">More View<i class="fa fa-arrow-right"></i></a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <!-- <div class="single-hero-area hero-bg-6 bg_cover" data-scroll-area="true"  >
        <div class="container">
            <div class="row" >
                <div class="col-lg-7" >
                    <div class="hero-area-content">
                        <p class="hero-para hero-para-3" style=" color: white;font-weight: bold;">2023 여름방학
                        <h1 class="hero-heading">
                            <span>성적이 오르는</span><br/><span>SUMMER SCHOOL</span>
                        </h1>
                        <a href="https://blog.naver.com/champodonamu_edu/223145802595" class="btn hero-btn">바로가기<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="single-hero-area hero-bg-5 bg_cover" data-scroll-area="true"  >
        <div class="container">
            <div class="row" >
                <div class="col-lg-7" >
                    <div class="hero-area-content">
                        <p class="hero-para hero-para-3" style=" color: white;font-weight: bold;">2023 신규모집
                        <h1 class="hero-heading">
                            <span>Full 독학재수반</span><br/><span>Half 독학재수반</span>
                        </h1>
                        <a href="https://blog.naver.com/champodonamu_edu/222910250805" class="btn hero-btn">바로가기<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="single-hero-area hero-bg-7 bg_cover" data-scroll-area="true" style="margin-bottom:-100px;" >
       <div class="container">
            <div class="row" >
                <div class="col-lg-7 hero-gradient-text hero-gradient-text-2" >
                    <div class="hero-area-content">
                        
                        <h1 class="hero-heading" style="font-family: yg-jalnan;">
                            <span class="mono-color">참포도나무학원</span><br/><span>2025 윈터스쿨</span>
                       </h1>
                       <div class="hero-area-menu">
                           <ul>
                               <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;" data-toggle="modal" data-target="#p1">2025년 1월 개강!</a></li>
                               <!-- <li><a href="#" style="font-weight: 900;color:#393e46;font-weight: bold;">2025년 고1, 고2, 고3</a></li> -->
                           </ul>
                       </div>
                       <a href="https://blog.naver.com/champodonamu_edu/223670545795" class="btn hero-btn" style="padding:20px 30px;background-color: #538AC4;"><b>More View</b><i class="fa fa-arrow-right"></i></a>
                   </div>
               </div>
           </div>
        </div>
    </div>

    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">JP-EDU<br>
                        교육이 치유가 되는 유일한 기업</p>
                        <h1 class="hero-heading">
                        참포도나무학원
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                            <li><a href="#" style="font-weight: 900;" data-toggle="modal" data-target="#p1">관리형 입시학원</a></li>
                            <li><a href="#" style="font-weight: 900;">전 과목/단과</a></li>
                            <li><a href="#" style="font-weight: 900;">수능/학교별 내신</a></li>
                            </ul>
                        </div>
                        <a href="/intro/introduction.html" class="btn hero-btn">About US <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->