{% if include.univ == "연세대학교" %}
    {% assign logo = "yonsei.png" %}
{% elsif include.univ == "고려대학교" %}
    {% assign logo = "korea.png" %}
{% elsif include.univ == "카톨릭관동대학교" or include.univ == "가톨릭관동대학교" %}
    {% assign logo = "cku.png" %}
{% elsif include.univ == "가천대학교" %}
    {% assign logo = "gachon.png" %}
{% elsif include.univ == "강남대학교" %}
    {% assign logo = "kangnam.png" %}
{% elsif include.univ == "국립강원대학교" or include.univ == "강원대학교" %}
    {% assign logo = "kangwon.png" %}
{% elsif include.univ == "한서대학교" %}
    {% assign logo = "hanseo.png" %}
{% elsif include.univ == "육군사관학교" %}
    {% assign logo = "military.png" %}
{% elsif include.univ == "상명대학교" %}
    {% assign logo = "smu.png" %}
{% elsif include.univ == "세종대학교" %}
    {% assign logo = "sejong.png" %}
{% elsif include.univ == "서울여자대학교" %}
    {% assign logo = "seoul_women.png" %}
{% elsif include.univ == "용인대학교" %}
    {% assign logo = "yongin.png" %}
{% elsif include.univ == "국립인천대학교" or include.univ == "인천대학교"  %}
    {% assign logo = "incheon.png" %}
{% elsif include.univ == "한양대학교" %}
    {% assign logo = "hanyang.png" %}
{% elsif include.univ == "서울시립대학교" %}
    {% assign logo = "seoul.png" %}
{% elsif include.univ == "숙명여자대학교" %}
    {% assign logo = "sookmyung.png" %}
{% elsif include.univ == "숭실대학교" %}
    {% assign logo = "soongsil.png" %}
{% elsif include.univ == "한국체육대학교" %}
    {% assign logo = "sport.png" %}
{% elsif include.univ == "인하대학교" %}
    {% assign logo = "inha.png" %}
{% elsif include.univ == "경희대학교" %}
    {% assign logo = "kh.png" %}
{% elsif include.univ == "국민대학교" %}
    {% assign logo = "kookmin.png" %}
{% elsif include.univ == "단국대학교" %}
    {% assign logo = "dankook.png" %}
{% elsif include.univ == "동국대학교" %}
    {% assign logo = "dongkook.png" %}
{% elsif include.univ == "나사렛대학교" %}
    {% assign logo = "nazarene.png" %}
{% elsif include.univ == "중앙대학교" %}
    {% assign logo = "choongang.png" %}
{% elsif include.univ == "건국대학교" %}
    {% assign logo = "kunkuk.png" %}
{% elsif include.univ == "덕성여자대학교" %}
    {% assign logo = "duksung.png" %}
{% elsif include.univ == "성균관대학교" %}
    {% assign logo = "skku.jpg" %}
{% elsif include.univ == "삼육대학교" %}
    {% assign logo = "syu.png" %}
{% elsif include.univ == "성신여자대학교" %}
    {% assign logo = "sungshin.png" %}
{% elsif include.univ == "서원대학교" %}
    {% assign logo = "seowon.png" %}
{% elsif include.univ == "백석대학교" %}
    {% assign logo = "bs.png" %}
{% elsif include.univ == "한국교통대학교" %}
    {% assign logo = "ut.png" %}
{% elsif include.univ == "한국해양대학교" %}
    {% assign logo = "kmou.png" %}
{% elsif include.univ == "한국교원대학교" %}
    {% assign logo = "knue.png" %}
{% elsif include.univ == "한신대학교" %}
    {% assign logo = "hs.png" %}
{% elsif include.univ == "충남대학교" %}
    {% assign logo = "cnu.png" %}
{% elsif include.univ == "호서대학교" %}
    {% assign logo = "hoseo.png" %}
{% elsif include.univ == "명지대학교" %}
    {% assign logo = "mju.png" %}
{% elsif include.univ == "동덕여자대학교" %}
    {% assign logo = "dongduk.png" %}
{% elsif include.univ == "서울과학기술대학교" %}
    {% assign logo = "seoultech.png" %}
{% elsif include.univ == "이화여자대학교" %}
    {% assign logo = "ewha.png" %}
{% elsif include.univ == "경기대학교" %}
    {% assign logo = "kyonggi.png" %}
{% elsif include.univ == "성결대학교" %}
    {% assign logo = "sungkyul.png" %}
{% elsif include.univ == "수원대학교" %}
    {% assign logo = "suwon.png" %}
{% elsif include.univ == "세명대학교" %}
    {% assign logo = "semyung.png" %}
{% elsif include.univ == "광운대학교" %}
    {% assign logo = "kw.png" %}
{% elsif include.univ == "대진대학교" %}
    {% assign logo = "daejin.png" %}
{% elsif include.univ == "순천향대학교" %}
    {% assign logo = "sch.png" %}
{% elsif include.univ == "을지대학교" %}
    {% assign logo = "eulji.png" %}
{% elsif include.univ == "건양대학교" %}
    {% assign logo = "konyang.png" %}
{% elsif include.univ == "극동대학교" %}
    {% assign logo = "kdu.png" %}
{% elsif include.univ == "남서울대학교" %}
    {% assign logo = "nsu.png" %}
{% elsif include.univ == "대전대학교" %}
    {% assign logo = "dju.png" %}
{% elsif include.univ == "목원대학교" %}
    {% assign logo = "mokwon.png" %}
{% elsif include.univ == "선문대학교" %}
    {% assign logo = "sunmoon.png" %}
{% elsif include.univ == "중부대학교" %}
    {% assign logo = "joongbu.png" %}
{% elsif include.univ == "한남대학교" %}
    {% assign logo = "hannam.png" %}
{% elsif include.univ == "서울대학교" %}
    {% assign logo = "seoul_national.png" %}
{% else %}
    {% assign logo = "blank.png" %}
{% endif %}{{ logo }}