<div class="modal fade" id="p1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog success-story-modal-diag" role="document">
      <div class="modal-content">

        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        
        <div class="modal-body" style="margin-top:80px;">
            <h2 class="text-uppercase">이름</h2>
            <p class="item-intro text-muted">대학</p>
            <p class="item-intro text-muted"><img src="/assets/images/univ/logo/{% include logo_func.html univ='연세대학교' %}" width="24px" height="24px" style="margin-bottom:0;margin-right:8px"/>{{ success.title }}</p>
            <img class="img-fluid d-block mx-auto" src="{{ success.picture }}" alt="{{ success.name }}">
            <div style="text-align: left;">{{ success.content }}</div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-small" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div>