<section class="portfolio-area pt-80 pb-30" id="portfolio">
    <div class="container">
        <div class="row pb-80">
            <div class="col-lg-5">
                <div class="section-title-about portfolio-title">
                    <p class="section-para"><span></span>About Us</p>
                    <h1>학생이 머물고 싶은,<br/>오롯이 교육만을 위해 지어진 공간</h1>
                </div>
            </div>
            <div class="col-lg-7 text-right">
                <div class="portfolio-btn-area">
                    <a href="#" class="btn portfolio-btn">View more <i class="fa fa-arrow-right"></i></a>
                    <!--<a href="#" class="portfolio-btn-2">Let’s Talk <i class="fa fa-arrow-right"></i></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for portfolio in site.portfolios limit: 1 %}
            <div class="col-lg-4 col-md-4">
                <div class="single-portfolio-item">
                    <a href="{{portfolio.post_image}}" class="img-popup"><img src="{{portfolio.post_image}}"  alt="{{portfolio.title}}"/></a>
                    {% if portfolio.haslink == true %}
                        <div class="portfolio-overlay-content">
                            <h2>{{portfolio.title}}</h2>
                            <p>{{portfolio.sub_title}}</p>
                            <!-- <a href="{{portfolio.url}}" class="portfolio-icon"><i class="fa fa-arrow-right"></i></a> -->
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-8 col-md-8">
                <div class="row">
                   {% for portfolio in site.portfolios offset: 1 %}
                    <div class="col-lg-6 pb-30 col-md-6">
                        <div class="single-portfolio-item">
                            <a href="{{portfolio.post_image}}" class="img-popup"><img src="{{portfolio.post_image}}"  alt="{{portfolio.title}}"/></a>
                            <div class="portfolio-overlay-content">
                                <h2>{{portfolio.title}}</h2>
                                <p>{{portfolio.sub_title}}</p>
                                <!-- <a href="{{portfolio.url}}" class="portfolio-icon"><i class="fa fa-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>