<!--======  PRICING PART START ======-->
<section class="pricing-area pt-140 pb-140" id="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="section-title pricing-title pb-80">
                    <p class="section-para"><span></span>our pricing</p>
                    <h1>Popular Pricing Plan For Creative Project</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>01 <span>basic</span></h2>
                    </div>
                    <img src="{{relative_url}}/assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$45.99</span>  For Monthly
                        Project Charge</h3>
                    <p><i class="fa fa-arrow-right"></i>Web Design (UX/UI)</p>
                    <p><i class="fa fa-arrow-right"></i>Software Development</p>
                    <p><i class="fa fa-arrow-right"></i>Fashion Design (Arts)</p>
                    <p><i class="fa fa-arrow-right"></i>Web Development (php)</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>Game Design & DV</p>
                        <p><i class="fa fa-arrow-right"></i>Computer Hardware</p>
                    </div>
                    <a href="#" class="btn price-btn">make plan <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box active">
                    <div class="absolute-price-num">
                        <h2>02 <span>smart</span></h2>
                    </div>
                    <img src="{{relative_url}}/assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$65.99</span> For Monthly
                        Project Charge</h3>
                    <p><i class="fa fa-arrow-right"></i>Web Design (UX/UI)</p>
                    <p><i class="fa fa-arrow-right"></i>Software Development</p>
                    <p><i class="fa fa-arrow-right"></i>Fashion Design (Arts)</p>
                    <p><i class="fa fa-arrow-right"></i>Web Development (php)</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>Game Design & DV</p>
                        <p><i class="fa fa-arrow-right"></i>Computer Hardware</p>
                    </div>
                    <a href="#" class="btn price-btn">make plan <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>03 <span>Premium</span></h2>
                    </div>
                    <img src="{{relative_url}}/assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$103.99</span>   For Monthly
                        Project Charge</h3>
                    <p><i class="fa fa-arrow-right"></i>Web Design (UX/UI)</p>
                    <p><i class="fa fa-arrow-right"></i>Software Development</p>
                    <p><i class="fa fa-arrow-right"></i>Fashion Design (Arts)</p>
                    <p><i class="fa fa-arrow-right"></i>Web Development (php)</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>Game Design & DV</p>
                        <p><i class="fa fa-arrow-right"></i>Computer Hardware</p>
                    </div>
                    <a href="#" class="btn price-btn">make plan <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  PRICING PART END ======-->