<!--======  PROJECTS PART START ======-->
<section class="project-counter-area">
    <div class="container">
        <div class="row pb-80">
            <div class="col-lg-6">
                <div class="section-title project-title">
                    <p class="section-para"><span></span>company fact</p>
                    <h1>We Are Digital And Creative Agency</h1>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <a href="#" class="btn counter-btn">get started <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon">
                    <i class="fas fa-rocket"></i>
                </div>
                <div class="counter-text">
                    <h1 class="count">6320</h1>
                    <p>Project complate</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon">
                    <i class="fas fa-life-ring"></i>
                </div>
                <div class="counter-text">
                    <h1 class="count">8563</h1>
                    <p>Satisfied Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="counter-text">
                    <h1 class="count">963</h1>
                    <p>Pwins awards</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon">
                    <i class="fas fa-universal-access"></i>
                </div>
                <div class="counter-text">
                    <h1 class="count">4975</h1>
                    <p>Expert Team Member</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  PROJECTS PART END ======-->