<!--======  PROJECTS PART START ======-->
<section class="project-counter-area">
    <div class="container">
        <!-- <div celass="row pb-80">
            <div class="col-lg-6">
                <div class="section-title project-title">
                    <p class="section-para"><span></span>참포도나무학원</p>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <a href="#" class="btn counter-btn">get started <i class="fa fa-arrow-right"></i></a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon mb-1">
                    <i class="fas fa-calendar-check" style="font-size:35px;"></i>
                    <p class="stat-title">수능 D-Day</p>
                </div>
                <div class="counter-text">
                    <h1 class="count" id="d-day">0</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon mb-1">
                    <i class="fas fa-trophy" style="font-size:35px;"></i>
                    <p class="stat-title">합격률</p>
                </div>
                <div class="counter-text">
                    <h1 class="count" style="display:inline-block">93.8</h1>
                    <p style="display:inline-block;font-size:30px">%</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon mb-1">
                    <i class="fas fa-chart-line" style="font-size:35px;"></i>
                    <p class="stat-title">재원생 성적 향상</p>
                </div>
                <div class="counter-text">
                    <h1 class="count" style="display:inline-block">100</h1>
                    <p style="display:inline-block;font-size:30px">%</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-icon mb-1" >
                    <i class="fab fa-gratipay" style="font-size:35px;"></i>
                    <p class="stat-title">학습 성취도</p>
                </div>
                <div class="counter-text">
                    <h1 class="count" style="display:inline-block">97.4</h1>
                    <p style="display:inline-block;font-size:30px">%</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  PROJECTS PART END ======-->