<!--======  SERVICE PART START ======-->
<section class="service-area service-bg pt-60 pb-30" id="Services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-80">
                <div class="section-title service-title">
                    <!-- <span><img src="{{relative_url}}/assets/images/service-text.png" alt=""></span> -->
                    <!-- <p class="section-para" style="font-family:NanumSquare"><span></span>참포도나무학원</p> -->
                    <h1 style="font-family:NanumSquare;font-weight:800;margin-bottom:0">과목별 시스템</h1>
                </div>
            </div>
        </div>
        <div class="row pb-30">
           {% for service in site.subjects %}
            <div class="col-lg-6 mb-4">
                <div class="single-service-box">
                    <div class="single-service-icon-box">
                        <p  style="font-size:45px;font-family: 'yg-jalnan';">{{service.subject}}</p>
                        {% if service.icon %}
                          {{service.icon}}
                        {% endif %}
                    </div>
                    <div class="service-box-content">
                        <h3 style="font-weight: bold;">{{service.title}}</h3>
                        <p>
                            <ul style="color:aliceblue;font-size:16px;">
                                {{service.objective}}
                            </ul>
                        </p>
                        <a href="{{service.url}}" class="service-btn">Raed More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--======  ABOUT-US PART END ======-->