{% for success in site.success_stories %}
<div class="modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog success-story-modal-diag" role="document">
    <div class="modal-content">

      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      
      <div class="modal-body container mt-80">
          <h2 class="text-uppercase text-center ">{{ success.name }}({{ success.highschool }})</h2>
          {% if success.university != nil %}
            <p class="item-intro text-muted text-center"><img src="/assets/images/univ/logo/{% include logo_func.html univ=success.university %}" width="24px" height="24px" style="margin-bottom:0;margin-right:8px"/>{{ success.title }}</p>
          {% endif %}

          {% if success.picture != nil %}                
            <img class="img-fluid d-block mx-auto" src="{{ success.picture }}" alt="{{ success.name }}">
          {% endif %}

          <div class="mt-50">{{ success.content }}</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-small" data-dismiss="modal">Close</button>
      </div>

    </div>

  </div>
  
</div>
{% endfor %}