<!--======  TESTIMONIAL PART START ======-->
<section class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="{{relative_url}}/assets/images/success_story/title.png" alt="">
            </div>
            <div class="col-lg-7 textimonial-carousel-active">
                <div class="single-testimonial-content">
                    <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                    <p>Avoids pleasur itself because pleas because those who do not know how to pursue plesure rationally encou eque that are extrem painful again is there anyone who loves pursues or 
                        desires to obtain pain of itself.</p>
                    <div class="autohor-details">
                        <img src="{{relative_url}}/assets/images/testimonial/author.png" alt="" class="author-img">
                        <h5 class="author-name">Michele L. Racinea <span>Web Designer</span></h5>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                    <p>Avoids pleasur itself because pleas because those who do not know how to pursue plesure rationally encou eque that are extrem painful again is there anyone who loves pursues or 
                        desires to obtain pain of itself.</p>
                    <div class="autohor-details">
                        <img src="{{relative_url}}/assets/images/testimonial/author.png" alt="" class="author-img">
                        <h5 class="author-name">Michele L. Racinea <span>Web Designer</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  TESTIMONIAL PART END ======-->