<!--======  TEAM PART START ======-->
<section class="team-area pt-140 pb-140" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center pb-80">
                <div class="section-title team-title">
                    <p class="section-para"><span></span>our team member</p>
                    <h1>Meet Our Most Creative Minds That’s Are Professional</h1>
                </div>
            </div>
        </div>
        <div class="row team-carousel-active">
            <div class="col-lg-4">
                <div class="single-team-area">
                    <div class="single-team-img text-center">
                        <img src="{{relative_url}}/assets/images/team/1.png" alt="">
                        <span class="team-icon-1"><img src="{{relative_url}}/assets/images/team/icon/1.png" alt=""></span>
                        <span class="team-icon-2"><img src="{{relative_url}}/assets/images/team/icon/2.png" alt=""></span>
                        <span class="team-icon-3"><img src="{{relative_url}}/assets/images/team/icon/3.png" alt=""></span>
                    </div>
                    <div class="single-team-content text-center">
                        <h4>Joseph M. Fondren</h4>
                        <p>Apps deigner</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-team-area">
                    <div class="single-team-img text-center">
                        <img src="{{relative_url}}/assets/images/team/2.png" alt="">
                        <span class="team-icon-1"><img src="{{relative_url}}/assets/images/team/icon/1.png" alt=""></span>
                        <span class="team-icon-2"><img src="{{relative_url}}/assets/images/team/icon/2.png" alt=""></span>
                        <span class="team-icon-3"><img src="{{relative_url}}/assets/images/team/icon/3.png" alt=""></span>
                    </div>
                    <div class="single-team-content text-center">
                        <h4>Pauline R. Stapleton</h4>
                        <p>Web developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-team-area">
                    <div class="single-team-img text-center">
                        <img src="{{relative_url}}/assets/images/team/3.png" alt="">
                        <span class="team-icon-1"><img src="{{relative_url}}/assets/images/team/icon/1.png" alt=""></span>
                        <span class="team-icon-2"><img src="{{relative_url}}/assets/images/team/icon/2.png" alt=""></span>
                        <span class="team-icon-3"><img src="{{relative_url}}/assets/images/team/icon/3.png" alt=""></span>
                    </div>
                    <div class="single-team-content text-center">
                        <h4>Robin A. Santiago</h4>
                        <p>apps designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-team-area">
                    <div class="single-team-img text-center">
                        <img src="{{relative_url}}/assets/images/team/2.png" alt="">
                        <span class="team-icon-1"><img src="{{relative_url}}/assets/images/team/icon/1.png" alt=""></span>
                        <span class="team-icon-2"><img src="{{relative_url}}/assets/images/team/icon/2.png" alt=""></span>
                        <span class="team-icon-3"><img src="{{relative_url}}/assets/images/team/icon/3.png" alt=""></span>
                    </div>
                    <div class="single-team-content text-center">
                        <h4>Pauline R. Stapleton</h4>
                        <p>Web developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  TEAM PART END ======-->