<!--======  VIDEO PART START ======-->
<section class="video-area vdeo-bg" >
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="video-icon-area">
                <!--<a href="https://www.youtube.com/watch?v=iogabydg2y0" class="video-icon video-popup"><i class="fa fa-play"></i></a>-->
            </div>
        </div>
    </div>
</div>
<div class="video-content">
    <h1 style="font-family: 'BMDOHYEON';">수업에 자습을 더하다.</h1>
    <ul style="color:white;margin-bottom:40px;font-size:22px;">
        <li>- 프리미엄 독서실 80석 완비</li>
        <li>- 플래너 관리</li>
        <li>- 세스코 에어제닉</li>
        <li>- 면학 분위기 관리</li>
    </ul>
    

    <a href="#" class="video-read-more">View More <i class="fa fa-arrow-right"></i></a>
</div>
</section>
<!--======  VIDEO PART END ======-->