---
layout: default
title: 🎉 합격수기
---

{% include page_header_title.html background="background-image:url('/assets/images/breadcrumb-4.png');" %}
<div class="container">
    <div class="row no-gutter success-story-main " >
        {% for success in site.success_stories %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 panel">
                <a data-toggle="modal" href="#p{{ forloop.index }}">
                    {% if success.picture != nil %}                
                        <div class="pic-panel" style="background-image:url({{ success.picture }})"></div>
                    {% else %}
                        <div class="pic-panel" style="background-image:url(/assets/images/success-story/anon.png)"></div>
                    {% endif %}
                    <div class="desc-panel">
                        <p class="univ">
                        {% if success.university != nil %}
                            <span><img src="/assets/images/univ/logo/{% include logo_func.html univ=success.university %}"/>{{ success.university }}</span>    
                        {% endif %}
                        </p>
                        <p class="dept">{{ success.dept }}</p>
                        <p class="name">{{ success.name }} ({{ success.highschool }})</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% include success_story_modal.html %}